body {
  padding-top: 61px;
}
.navbar-header a.navbar-brand {
  font-size: 40px;
}
h6 {
  color: #ccc;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #13987e;
}
.gridster .gridster-item {
  border: 2px solid #888;
  background: #fff;
  border-radius: 5px;
}
.ps-widget-header {
  position: relative;
  color: #005952;
  background-color: #e6e6e6;
  font-size: 18px;
  border-bottom: 2px solid #888;
  min-height: 30px;
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 2px;
}
.ps-widget-header-buttons {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-left: 2px solid #888;
  background: #fff;
}
.ps-widget-header-buttons .btn {
  margin: 4px;
  margin-top: 6px;
  padding: 2px 8px;
  font-size: 2rem;
}
.ps-dashboard-header {
  font-size: 20px;
  border-bottom: 1px solid #444;
  color: #fff;
  background-color: #777;
  margin: -20px;
  margin-bottom: 20px;
  min-height: 50px;
  padding: 8px;
  padding-left: 20px;
}
.persona-navbar {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #d7e0e2;
}
.persona-navbar .btn {
  margin: 7px;
}
.personaButtonText {
  padding-left: 5px;
}
.personaTitle {
  color: #fff;
  float: left;
  margin-left: 5%;
  color: #005952;
}
.personaTitle h1 {
  margin: 5px 0 0 0;
}
.navbar-inverse {
  background-color: #005952;
}
.panel-primary>.panel-heading {
  background-color: #005952;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
}
.btn-primary {
  background-color: #00ccbc;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #fff !important;
}
.container>.navbar-header>h4 {
  color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  color: #00ccbc;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #00ccbc;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #00ccbc;
}
.cropArea {
  background: #e4e4e4;
  overflow: hidden;
  width: 500px;
  height: 350px;
}
form .progress {
  line-height: 15px;
}
.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #ccc;
}
.progress div {
  font-size: smaller;
  background: #ffa500;
  width: 0;
}
.highCard {
  z-index: 2000;
}
