body
    padding-top 61px

.navbar-header a.navbar-brand
    margin-top -15px
    margin-bottom -20px
h6
    color #ccc

footer
    padding-left 15px
    padding-right 15px
    p
        border-top 1px solid #d7e0e2
.navbar-form
    .form-group
        margin-left 10px
    button
        margin-left 10px

.toast-top-right
    top 70px

.toast-success
    background-color #13987e


.gridster .gridster-item
    border: 2px solid #888888
    background: white;
    border-radius: 5px;


.ps-widget-header
    position: relative;
    color: #005952;
    background-color: #e6e6e6;
    font-size: 18px;
    border-bottom: 2px solid #888888;
    min-height: 30px;
    padding: 8px;
    padding-top: 4px;
    padding-bottom: 2px;


.ps-widget-header-buttons
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-left: 2px solid #888888;
    background: white;


.ps-widget-header-buttons .btn
    margin: 4px;
    margin-top: 6px;
    padding: 2px 8px;
    font-size: 2rem;


.ps-dashboard-header
    font-size: 20px;
    border-bottom: 1px solid #444;
    color: white;
    background-color: #777;
    margin: -20px;
    margin-bottom: 20px;
    min-height: 50px;
    padding: 8px;
    padding-left: 20px

.persona-navbar
  background-color: #005952;

.persona-navbar .btn
    margin: 7px;

.personaButtonText
    padding-left: 5px

.personaTitle
  color:white;
  float:left;
  margin-left:5%

.personaTitle h1
  margin:5px 0 0 0 ;
