body {
  padding-top: 61px;
}
.content {
  margin: 20px;
}
.navbar-header a.navbar-brand {
  font-size: 40px;
}
h6 {
  color: #ccc;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.jumbotron {
  background: none;
  color: #005952;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #13987e;
}
.gridster .gridster-item {
  border: 2px solid #888;
  background: #fff;
  border-radius: 5px;
}
.gridster .gridster-item:hover .handle-se {
  border-color: transparent transparent #005952;
}
.widget-content-holder {
  position: absolute;
  top: 0;
  width: 100%;
}
.widget-content-holder pre {
  white-space: pre-wrap;
  background: #eee;
}
.ps-widget-header {
  position: relative;
  color: #005952;
  background-color: #e6e6e6;
  font-size: 18px;
  border-bottom: 2px solid #888;
  min-height: 30px;
  padding: 8px;
  padding-top: 4px;
  padding-bottom: 2px;
}
.ps-widget-header-buttons {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-left: 2px solid #888;
  background: #fff;
}
.ps-widget-header-buttons .btn {
  margin: 4px;
  margin-top: 6px;
  padding: 2px 8px;
  font-size: 2rem;
}
.widget-body-text {
  padding: 3%;
  display: inline-block;
  width: 100%;
}
.ps-dashboard-header {
  font-size: 20px;
  border-bottom: 1px solid #444;
  color: #fff;
  background-color: #777;
  margin: -20px;
  margin-bottom: 20px;
  min-height: 50px;
  padding: 8px;
  padding-left: 20px;
}
.persona-navbar {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #d7e0e2;
}
.persona-navbar .btn {
  margin: 7px;
}
.personaButtonText {
  padding-left: 5px;
}
.personaTitle {
  color: #fff;
  float: left;
  margin-left: 5%;
  color: #005952;
  max-width: 400px;
}
.button-holder {
  float: right;
}
.personaTitle h1 {
  margin: 5px 0 0 0;
}
.navbar-inverse {
  background-color: #005952;
}
.panel-primary>.panel-heading {
  background-color: #005952;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "nimbus-sans", sans-serif;
  font-weight: 700;
}
.btn-primary {
  background-color: #00ccbc;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #fff !important;
}
.container>.navbar-header>h4 {
  color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  color: #00ccbc;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #00ccbc;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #00ccbc;
}
.cropArea {
  background: #e4e4e4;
  overflow: hidden;
  width: 500px;
  height: 350px;
  margin: 0 auto;
}
.cropPreview {
  display: block;
  margin: 20px auto;
  border: 3px solid #149c82;
}
.widgetImage {
  display: block;
  margin: 10px auto 0;
  border: 3px solid #149c82;
  width: 40%;
}
form .progress {
  line-height: 15px;
}
.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #ccc;
}
.progress div {
  font-size: smaller;
  background: #ffa500;
  width: 0;
}
.highCard {
  z-index: 2000;
}
#new-persona-image {
  display: block;
  width: 50%;
  margin: auto;
}
.navbar-brand img {
  width: 100px;
}
@media only screen and (max-width: 991px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-header .collapse,
  .navbar-toggle {
    display: block !important;
  }
  .navbar-header {
    float: none;
  }
  .ps-widget-header h4 {
    font-size: 80%;
  }
  .widget-body-text {
    margin-top: 0px;
  }
  .personaTitle {
    float: none;
    margin: auto;
  }
  .personaTitle h1 {
    text-align: center;
  }
  .button-holder {
    float: none;
    text-align: center;
  }
  .persona-navbar .btn {
    float: none !important;
  }
}
@media only screen and (max-width: 670px) {
  .widget-content-holder {
    position: initial;
  }
}
