div.modal.fade(role="dialog", id="{{'imageUpload' + $index}}")
  div.modal-dialog
    div.modal-content
      form(action "/" method="POST" enctype="multipart/form-data")
        div.modal-header
          h4(style="display:inline-block;") Crop Image and Upload
          button.close(data-dismiss="modal", ng-click="cardClassRemove()")
            i.fa.fa-remove
          input.inputFile(type="file")
        div.modal-body
          div.cropArea
            img-crop(image="myImage"  result-image="smallImage" area-type="square")
          div
            img(ng-src="{{smallImage}}")
            input(type="submit" name="submit" value="submit")
          span(ng-show="result") Upload Successful
          span.err(ng-show="errorMsg"){{errorMsg}}

