// check and see if there is a user being sent down with the index request. with the bootstrappedUser object sent with the server response
if !!bootstrappedUser
 script.
    window.bootstrappedUserObject = !{JSON.stringify(bootstrappedUser)}
