doctype
html
    head
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/vendor/components-font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="/vendor/angular-gridster/dist/angular-gridster.min.css")
        link(rel="stylesheet", href="/css/site.css")
        script(src="https://use.typekit.net/fwi0ttg.js")
        script.
          try{Typekit.load({ async: true });}catch(e){}
        // this base href tag is used for the locationProvider provider in order to use html5
        base(href="/")
    //setting the body to use the 'app' angular file as the angular app
    body(ng-app='app')
    include currentUser
    // this createas a placeholder that will be filled in by another file
    block main-content
    // include is how you include file directories into a jade view
    include scripts
