// these are all the scripts included into the layout view
script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/javascript-detect-element-resize/jquery.resize.js")
script(type="text/javascript", src="/vendor/angular-gridster/dist/angular-gridster.min.js")
script(type="text/javascript", src="/vendor/ng-img-crop/compile/minified/ng-img-crop.js")
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/main/pcMainCtrl.js")
script(type="text/javascript", src="/app/account/pcNavBarLoginCtrl.js")
script(type="text/javascript", src="/app/common/pcNotifier.js")
script(type="text/javascript", src="/app/common/contentEditableDirective.js")
script(type="text/javascript", src="/app/account/pcIdentity.js")
script(type="text/javascript", src="/app/account/pcAuth.js")
script(type="text/javascript", src="/app/account/pcSignupCtrl.js")
script(type="text/javascript", src="/app/account/pcProfileCtrl.js")
script(type="text/javascript", src="/app/account/pcUser.js")
script(type="text/javascript", src="/app/persona/pcPersonaCtrl.js")
script(type="text/javascript", src="/app/persona/pcSavedPersonaCtrl.js")
script(type="text/javascript", src="/app/persona/pcImageUploadDirective.js")
script(type="text/javascript", src="/app/admin/pcUserListCtrl.js")
