.panel.panel-primary
 .panel-heading.text-center About PCOA
 .panel-body
  p PCOA is a tool for HCI and marketing researchers to assist in the building and maintaining of User Personas.
  p Sign up for an account and get started right away!
  p Once you have created an account, click on the 'create new persona' link to get started.
  p Inside your newly created persona, all aspects of the persona are customizable. Resize and rename the cards. Click into the cards header or body to add any text that you wish to. Additionally, add and crop custom images for each card in your new persona.
  p Once you've started your persona, click the 'save persona' button to save your new persona and come back to it at any time to edit and tweak!
