.panel.panel-primary
 .panel-heading.text-center My Personas
 .panel-body
  .row(ng-repeat="persona in personas")
   .col-md-9
    ul
        li.persona-list
            a(ng-href="/persona/{{persona._id}}") {{persona.personaDetails.personaTitle}}
   //.col-md-9 {{course.name}}
