.container
 .jumbotron
  .row
  img(src="/images/PCOA_logo_green.png")
  p PCOA &#45; Persona Creation Online Application
  p A tool for HCI and marketing persona creation/research storage.
 .col-md-4
  div(ng-include="'/partials/main/about-pcoa'")
 .col-md-4
  div(ng-include="'/partials/main/persona-list'")
 .col-md-4
  div(ng-include="'/partials/main/new-persona-link'")

