.container
 .jumbotron
  .row
  h1 PCOA
  p placeholder text. blahty blahty blah.
 .col-md-4
 // ng-include Fetches, compiles and includes an external HTML fragment
  div(ng-include="'/partials/main/featured-courses'")
 .col-md-4
  div(ng-include="'/partials/main/persona-list'")
 .col-md-4
  div(ng-include="'/partials/main/new-persona-link'")

